
/* Section des boutons raccourci des tableaux */
.chart_nav {
    width: 1200px;
    height: 60px;
    margin: 30px auto;
}
.chart_nav_title {
    width: 300px;
    height: 100%;
    font-size: 15px;
    line-height: 60px;
    padding: 0 2px;
    box-sizing: border-box;
    float: left;
}

/* Bouton Tableau Général */
.chart_nav_general {
    width: 90px;
    height: 100%;
    float: left;
    padding: 15px 0;
    box-sizing: border-box;
}

/* Boutons Tableaux des double types */
.chart_nav_types {
    width: 810px;
    height: 100%;
    float: right;
}
.chart_nav_general a>div, .chart_nav_types a>div {
    margin: 5px;
}

/* Section de la légende des tableaux */
.chart_legends {
    background-color: white;
    width: 1200px;
    height: 40px;
    line-height: 15px;
    font-size: 15px;
    margin: 30px auto;
}
.chart_legends_title {
    float: left;
    width: 84px;
    height: 100%;
    line-height: 40px;
    padding: 0 2px;
    box-sizing: border-box;
}
.chart_legend {
    width: 155px;
    height: 100%;
    float: left;
}
.chart_legend_image {
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}
.chart_legend_name {
    width: 95px;
    height: 100%;
    float: left;
    display: flex;
	align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
}

/* Lien des tableaux */
[id^=table] {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* Tableau */
table, th, td {
    border: 1px solid rgb(191, 191, 191);
}
table {
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgb(191, 191, 191);
    border-radius: 5px;
    border-spacing: 0px;
    margin: 30px auto;
}

/* Cellule du tableau */
td {
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

/* Titre du tableau */
caption {
    text-align: left;
    width: 1200px;
    height: 50px;
    padding: 0 2px;
    box-sizing: border-box;
}
.chart_name {
    height: 100%;
    line-height: 50px;
    font-size: 18px;
    text-transform: none;
    float: left;
}
caption img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    float: right;
    margin: 5px 0;
}

/* En-tête du tableau */
thead {
    position: sticky;
    top: 50px;
    z-index: 10;
}

/* Ligne du double type */
thead th {
    height: 28px;
    padding: 0;
    border-radius: 5px;
}
thead th a {
    display: flex;
    justify-content: center;
    align-content: center;
}
thead th img {
    width: 28px;
    height: 28px;
    float: left;
}
.double_name {
    line-height: 28px;
    font-weight: normal;
    color: white;
}

/* Coin du tableau */
.chart_titles {
    width: 80px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    background-color: rgb(191, 191, 191);
}
.chart_title {
    width: 100%;
    height: 50%;
    line-height: 20px;
}

/* Types offensifs du tableau */
.off_type {
    width: 80px;
    height: 30px;
}
.off_type a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px 0;
    box-sizing: border-box;
}
.off_type_name {
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    float: left;
    position: relative;
    left: 2px;
}
.off_type img {
    width: 20px;
    height: 20px;
    float: left;
    position: relative;
    left: 3px;
    object-fit: contain;
}

/* Types Défensifs du tableau */
.def_type {
    width: 60px;
    height: 40px;
}
.def_type a {
    width: 100%;
    height: 100%;
}
.def_type_name {
    width: 60px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    position: relative;
    top: 2px;
}
.def_type img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    position: relative;
    top: 3px;
    object-fit: contain;
}
